.label {
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    border-bottom: 2px solid white;
}

.login-heading {
    width: 100%;
    border-bottom: 3px solid var(--lastpass-red);
    margin-bottom: 2rem;
}

.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 5rem;
    background-color: var(--color-background);
    border-radius: 0.5rem;
    padding: 2rem;
}

.login-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    height: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--color-text);
    border-radius: 0.5rem;
}

.btn {
    width: 50%;
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--lastpass-red);
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.is-invalid {
    outline: 2px solid var(--lastpass-red);
}

.fa-spinner-third {
    animation: spin 1s linear infinite;
}

.invalid {
    color: var(--lastpass-red);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-top: 5rem;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1024px) {
    .login {
        width: 40%;
    }

    .login-form {
        width: 75%;
        height: 75%;
    }

    .label {
        width: 75%;
    }

    .input {
        width: 75%;
    }

    .btn:hover,
    .btn:focus {
        background-color: var(--lastpass-red-dark);
        color: whitesmoke;
        font-size: 1rem;
        font-weight: 400;
        cursor: pointer;
    }
}